@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 32, 32, 32;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 32, 32, 32;
  }
}

.portfolio-content{
  h3{
    font-size: 1.125rem;
    font-weight: bold;
  }

  a{
    display: flex;
    justify-content: space-between;
    color: #ffffffdd;
    
    border: 1px solid #ffffffdd;
    border-radius: 999px;
    padding: 10px 20px;
    width: 200px;
    transition: 0.2s background-color;

    &:after{
      content : "→"
    }

    &:hover{
      background-color: #ffffff24;
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(24px);
    filter: blur(2px);
  }
  100% {
    opacity: 0.9; 
    transform: translateY(0);
  }
}

.text-animation span {
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.5s;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
